main.basic-keyboard {
  display: grid;
  gap: 3px;
  grid-template-columns: repeat(5, minmax(46px, 1fr));
  grid-template-rows: repeat(5, 46px);
  grid-template-areas:
    "left-angle-bracket right-angle-bracket square square-root undo"
    "number-7 number-8 number-9 subtract division"
    "number-4 number-5 number-6 add multiply"
    "number-1 number-2 number-3 add percentage"
    "number-0 dot clear-display equal equal";
}

/* 
@media (min-width: 700px) {
  main.basic-keyboard {
    grid-template-columns: repeat(6, minmax(46px, 1fr));
    grid-template-rows: repeat(4, 46px);
  }
} */
