header[role="banner"] {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button.clear {
  background-color: rgb(196, 5, 5);
  height: 100%;
}

button.clear:hover {
  background-color: rgba(196, 5, 5, 0.8);
}

/* dropdown */
.dropdown-select {
  position: relative;
  height: 100%;
}

.dropdown-select > .drop-btn {
  height: 100%;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.dropdown-select > .drop-btn:hover {
  background-color: var(--hover);
}

.dropdown-select > .drop-btn[active="true"] {
  background-color: var(--dark);
}

.dropdown-select > .drop-btn[active="true"] + ul.options {
  display: block;
}

.dropdown-select > ul.options {
  display: none;
  top: 47px;
  right: 0px;
  width: 180px;
  list-style: none;
  position: absolute;
  padding: var(--sm-em);
  background-color: var(--drop-bg);
  border-radius: var(--border-r-sm);
  box-shadow: var(--box-shadow);
  animation: dropdown 0.6s ease;
}

.dropdown-select > ul.options:before {
  content: "";
  top: -15px;
  right: 5px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid var(--drop-bg);
  position: absolute;
}

.dropdown-select > ul.options > li {
  transition: var(--bg-color-transition);
  padding: 3px 8px;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-select > ul.options > li:hover {
  background-color: var(--hover);
  border-radius: var(--border-r-sm);
}

.dropdown-select > .drop-btn[active="true"] + ul.options > li:after {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

.dropdown-select
  > .drop-btn[active="true"]
  + ul.options
  > li[selected="true"]:after {
  background-color: #fff;
  border: 5px solid indigo;
}

.dropdown-select
  > .drop-btn[active="true"]
  + ul.options
  > li[selected="false"]:after {
  background-color: var(--dark);
  border: 5px solid var(--dark);
}

.dropdown-select > ul.options > li:not(:last-of-type) {
  margin-bottom: 3px;
}

@keyframes dropdown {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
