.keyboard {
  display: grid;
  gap: 0.5rem;
  padding: 0.5rem;
  align-self: stretch;
  justify-content: center;
  grid-template-columns: repeat(5, minmax(46px, 1fr));
  grid-template-rows: repeat(5, minmax(46px, 1fr));
  grid-template-areas:
    "clear-display clear-display left-angle-bracket right-angle-bracket percentage"
    "left-keyboard left-keyboard left-keyboard subtract subtract"
    "left-keyboard left-keyboard left-keyboard division add"
    "left-keyboard left-keyboard left-keyboard multiply add"
    "left-keyboard left-keyboard left-keyboard equal equal";
  background-color: var(--keyboard);
}

.key {
  border: none;
  cursor: pointer;
  color: var(--text);
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 6px;
  transition: var(--bg-color-transition);
  background-color: #484848;
}

.key:hover {
  background-color: transparent;
}

/* basic keys*/
.clear-display {
  grid-area: clear-display;
  background-color: #b22222;
}

.left-angle-bracket {
  grid-area: left-angle-bracket;
}

.right-angle-bracket {
  grid-area: right-angle-bracket;
}

.percentage {
  grid-area: percentage;
}

.division {
  grid-area: division;
}

.multiply {
  grid-area: multiply;
}

.subtract {
  grid-area: subtract;
}

.add {
  grid-area: add;
}

.equal {
  grid-area: equal;
  background-color: #4169e1;
}

.division,
.multiply,
.subtract,
.add {
  background-color: #4169e199;
}

.percentage,
.positive-negative,
.left-angle-bracket,
.right-angle-bracket,
.rad-deg {
  background-color: #4169e133;
}

/* .left-keyboard */
.left-keyboard {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(3, minmax(46px, 1fr));
  grid-template-rows: repeat(4, minmax(46px, 1fr));
  grid-area: left-keyboard;
}

.left-keyboard > .key {
  animation: show-keys 0.2s ease-in-out;
}

@keyframes show-keys {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* > .default-keyboard */
.default-keyboard {
  grid-template-areas:
    "number-7 number-8 number-9"
    "number-4 number-5 number-6"
    "number-1 number-2 number-3"
    "number-0 number-0 dot";
}

.number-9 {
  grid-area: number-9;
}

.number-8 {
  grid-area: number-8;
}

.number-7 {
  grid-area: number-7;
}

.number-6 {
  grid-area: number-6;
}

.number-5 {
  grid-area: number-5;
}

.number-4 {
  grid-area: number-4;
}

.number-3 {
  grid-area: number-3;
}

.number-2 {
  grid-area: number-2;
}

.number-1 {
  grid-area: number-1;
}

.number-0 {
  grid-area: number-0;
}

.dot {
  grid-area: dot;
}

/* > .second-keyboard */
.second-keyboard {
  grid-template-areas:
    "square-root square exponent"
    "sine cosine tangent"
    "logarithm natural-logarithm euler-power"
    "absolute-value pi euler";
}

.square-root {
  grid-area: square-root;
}

.square {
  grid-area: square;
}

.exponent {
  grid-area: exponent;
}

.sine {
  grid-area: sine;
}

.cosine {
  grid-area: cosine;
}

.tangent {
  grid-area: tangent;
}

.logarithm {
  grid-area: logarithm;
}

.natural-logarithm {
  grid-area: natural-logarithm;
}

.euler-power {
  grid-area: euler-power;
}

.absolute-value {
  grid-area: absolute-value;
}

.pi {
  grid-area: pi;
}

.euler {
  grid-area: euler;
}

/* > .third-keyboard */
.third-keyboard {
  grid-template-areas:
    "rad-deg cubic-root factorial"
    "inverse-sine inverse-cosine inverse-tangent"
    "hyperbolic-sine hyperbolic-cosine hyperbolic-tangent"
    "inverse-hyperbolic-sine inverse-hyperbolic-cosine inverse-hyperbolic-tangent";
}

.rad-deg {
  grid-area: rad-deg;
  text-transform: capitalize;
}

.cubic-root {
  grid-area: cubic-root;
}

.factorial {
  grid-area: factorial;
}

.inverse-sine {
  grid-area: inverse-sine;
}

.inverse-cosine {
  grid-area: inverse-cosine;
}

.inverse-tangent {
  grid-area: inverse-tangent;
}

.hyperbolic-sine {
  grid-area: hyperbolic-sine;
}

.hyperbolic-cosine {
  grid-area: hyperbolic-cosine;
}

.hyperbolic-tangent {
  grid-area: hyperbolic-tangent;
}

.inverse-hyperbolic-sine {
  grid-area: inverse-hyperbolic-sine;
}

.inverse-hyperbolic-cosine {
  grid-area: inverse-hyperbolic-cosine;
}

.inverse-hyperbolic-tangent {
  grid-area: inverse-hyperbolic-tangent;
}

@media (max-width: 286px) {
  .keyboard,
  .left-keyboard {
    gap: 0;
    padding: 0;
  }
  .key {
    border-radius: 0;
    border: 1px solid var(--keyboard);
  }
}

@media (max-height: 387px) {
  .keyboard {
    overflow-y: auto;
  }
}

@media (max-width: 232px) {
  .tools,
  .keyboard {
    overflow-y: auto;
    overflow-x: auto;
  }
}
