main.keyboard {
  overflow-y: auto;
}

main.keyboard > button.key {
  background-color: var(--keyboard);
  border: 1px solid var(--dark);
  transition: var(--bg-color-transition);
}

main.keyboard > button.key:hover {
  background-color: var(--hover);
}

main.keyboard > button.equal {
  background-color: #0d761d;
}

main.keyboard > button.equal:hover {
  background-color: rgba(13, 118, 29, 0.8);
}

/* ==== default keyboard areas ====*/

.left-angle-bracket {
  grid-area: left-angle-bracket;
}

.right-angle-bracket {
  grid-area: right-angle-bracket;
}

.square {
  grid-area: square;
}

.square-root {
  grid-area: square-root;
}

.undo {
  grid-area: undo;
}

.subtract {
  grid-area: subtract;
}

.multiply {
  grid-area: multiply;
}

.division {
  grid-area: division;
}

.add {
  grid-area: add;
}

.percentage {
  grid-area: percentage;
}

.dot {
  grid-area: dot;
}

.clear-display {
  grid-area: clear-display;
}

.equal {
  grid-area: equal;
}

.number-0 {
  grid-area: number-0;
}

.number-1 {
  grid-area: number-1;
}

.number-2 {
  grid-area: number-2;
}

.number-3 {
  grid-area: number-3;
}

.number-4 {
  grid-area: number-4;
}

.number-5 {
  grid-area: number-5;
}

.number-6 {
  grid-area: number-6;
}

.number-7 {
  grid-area: number-7;
}

.number-8 {
  grid-area: number-8;
}

.number-9 {
  grid-area: number-9;
}
/* end default keyboard areas */
/* ==== changing overflow style ====*/
