main.programming-keyboard {
  display: grid;
  gap: 3px;
  grid-template-columns: repeat(10, minmax(46px, 1fr));
  grid-template-rows: 46px 46px 1fr repeat(5, 46px);
  grid-template-areas:
    "conversions conversions conversions conversions conversions conversions conversions conversions conversions conversions" /* row nº 1 */
    "binary binary binary binary binary binary binary binary binary binary" /* row nº 2 */
    "binary binary binary binary binary binary binary binary binary binary" /* row nº 2 */
    "subscript superscript dot memory left-angle-bracket right-angle-bracket shift-left shift-right insert-character-code space" /* row nº 3 */
    "alpha-c alpha-d alpha-e alpha-f division module-divide ones-complement twos-complement absolute-value space" /* row nº 4 */
    "number-8 number-9 alpha-a alpha-b multiply boolean-and boolean-not square-root exponent inverse" /* row nº 5 */
    "number-4 number-5 number-6 number-7 subtract boolean-or clear-display logarithm binary-logarithm integer-component" /* row nº 6 */
    "number-0 number-1 number-2 number-3 add boolean-exclusive-or equal factorize factorial fractional-component" /* row nº 7 */;
}

.binary {
  grid-area: binary;
  background-color: fuchsia;
}

.insert-character-code {
  grid-area: insert-character-code;
}

.alpha-a {
  grid-area: alpha-a;
}

.alpha-b {
  grid-area: alpha-b;
}

.alpha-c {
  grid-area: alpha-c;
}

.alpha-d {
  grid-area: alpha-d;
}

.alpha-e {
  grid-area: alpha-e;
}

.alpha-f {
  grid-area: alpha-f;
}

.ones-complement {
  grid-area: ones-complement;
}

.twos-complement {
  grid-area: twos-complement;
}

.boolean-and {
  grid-area: boolean-and;
}

.boolean-not {
  grid-area: boolean-not;
}

.boolean-or {
  grid-area: boolean-or;
}

.boolean-exclusive-or {
  grid-area: boolean-exclusive-or;
}

.binary-logarithm {
  grid-area: binary-logarithm;
}

.fractional-component {
  grid-area: fractional-component;
}

.integer-component {
  grid-area: integer-component;
}

.shift-left {
  grid-area: shift-left;
}

.shift-right {
  grid-area: shift-right;
}
