.results {
  overflow-y: auto;
}

.results > .equation {
  padding: var(--sm-rem) var(--md-rem);
  display: grid;
  gap: 6px;
  grid-template-columns: 1fr auto 0.5fr;
  grid-template-areas: "operation equal-to result";
}

.results > .equation:hover {
  opacity: 0.8;
}

.results > .equation > * {
  display: flex;
  align-items: center;
}

.results > .equation > .operation {
  grid-area: operation;
  justify-self: left;
}
.results > .equation > .equal-to {
  grid-area: equal-to;
  justify-self: right;
}

.results > .equation > .result {
  grid-area: result;
  justify-self: right;
}

div.results {
  font-size: 1.3em;
}

div.results > .equation:last-of-type {
  border-top: 1px solid var(--drop-bg);
}

div.results > .equation:last-of-type > .operation {
  font-size: 0.7em !important;
}

div.results > .equation:last-of-type {
  font-size: 1.5em;
}
