:root {
  --background-color: #4169e1;
  /* --background-color: #ffdd02; */
  --results-bg: #313131;
  --operation-bg: #343434;
  --container-bg: #3e3e3e;
  --dark: #2c2c2c;
  --keyboard: #484848;
  --text: #f1e7df;
  --drop-bg: #3b3b3b;
  --hover: #5b5b5b;
  --active-drop-btn: #272727;

  /**/
  --box-shadow: 0px 0px 2px var(--dark);
  /**/
  --border-r-sm: 4px;
  --border-r-md: 8px;
  /* spacing */
  --sm-em: 0.5em;
  --sm-rem: 0.5rem;
  --md-em: 1em;
  --md-rem: 1em;
  /* animations */
  --bg-color-transition: background-color 0.1s ease-in-out;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  height: 100vh;
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
  border-radius: var(--border-r-sm);
  transition: var(--bg-color-transition);
}

input,
button {
  font-size: 0.9em;
  font-weight: bold;
  border: none;
  color: var(--text);
  border-radius: var(--border-r-sm);
}

input:focus,
button:focus {
  outline: none;
}

@media (min-width: 390px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
