.tools {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: auto auto 1fr auto;
  justify-content: start;
  margin: 0.5rem;
}

.tools > button {
  font-size: 1rem;
  cursor: pointer;
  border: none;
  background: transparent;
  padding: 0;
  font-size: 1rem;
  color: var(--text);
  transition: opacity 0.2s ease-in-out;
  font-size: bold;
}

.tools > button:hover {
  opacity: 0.8;
}

.tools > button:first-of-type {
  grid-column: 1;
}

.tools > button:nth-of-type(2) {
  grid-column: 2 / span 1;
}

.tools > button:last-of-type {
  font-size: 1.2rem;
  grid-column: -1;
}

/* ==== History ==== */

.keyboard {
  position: relative;
}

.history {
  position: absolute;
  height: 100%;
  width: calc(100% - 42px);
  background-color: var(--keyboard);
  border-bottom-left-radius: 6px;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}

button.clear-history {
  background: none;
  border: none;
  color: var(--text);
  font-size: 1.1rem;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

button.clear-history:hover {
  color: tomato;
}

ul.history-list {
  list-style: none;
  display: grid;
  padding: 0;
  overflow: auto;
}

ul.history-list > li {
  font-size: 1rem;
  padding: 0 0.5rem;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr auto auto;
  align-items: center;
}

ul.history-list > li:not(:last-of-type) {
  border-bottom: 1px solid rgba(241, 231, 223, 0.4);
}

ul.history-list > li > span:not(:nth-of-type(2)):hover {
  opacity: 0.8;
}

ul.history-list > li > span:nth-of-type(2) {
  color: rgba(241, 231, 223, 0.6);
}

ul.history-list > li > span:last-of-type {
  font-size: 1.4rem;
  font-weight: bold;
}

.history[show="false"] {
  display: none;
  -webkit-animation: -slide-from-right 0.5s;
  animation: slide-from-right 0.5s;
}

.history[show="true"] {
  -webkit-animation: -slide-from-left 0.5s;
  animation: slide-from-left 0.5s;
}

@-webkit-keyframes -slide-from-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-from-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@-webkit-keyframes -slide-from-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
